<table width="100%" cellspacing="0" cellpadding="0" border="0" style="padding:0 20px 0 0">
    <tr>
        <td style="padding-top:10px;border-top: solid 1px #E8E8E8;">
				<span style="font-family:Arial; font-size:12px; color:#999999">
                    {{t9n "No respondas este e-mail." .LocaleString "es_AR" ""}}
					<a href="http://www.mercadolibre.com.ar/ayuda_home" style="font-family:Arial; font-size:12px; color:#0637B3; text-decoration:none">
                        {{t9n "Ayuda" .LocaleString "es_AR" ""}}
                    </a>.
				</span>
        </td>
    </tr>
    <tr><td height="15" style="font-size:1px">&nbsp;</td></tr>
</table>
</body>
</html>